<!DOCTYPE html>
<html lang="en">

<head>

     <title>Hydro - Landing Page Template</title>
     <!-- 
Hydro Template 
http://www.templatemo.com/tm-509-hydro
-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }} ">
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }} ">
     <style>
          .character-number {
               float: right;
          }

          .total-ch {
               float: right !important;
               font-size: 12px;
               color: forestgreen;
               text-align: right;
          }

          .modal-logo {
               width: 10%;
               position: absolute;
               margin: -2% -50% 0%;
          }

          .blog-post {
               margin-bottom: 30px;
               display: inline-block;
          }

          .blog-post .date {
               font-size: 17px;
               color: #f2745f;
               font-weight: 500;
               letter-spacing: 0.5px;
               padding: 8px 14px;
               position: absolute;
               left: 15px;
               top: 0px;
               background-color: rgba(250, 250, 250, 0.9);
          }

          .blog-post .right-content {
               background-color: #fff;
               width: 50%;
               float: right;
               padding: 20px;
          }

          .blog-post img {
               width: 50%;
               overflow: hidden;
          }

          .blog-post .right-content h4 {
               margin-top: 0px;
               margin-bottom: 0px;
               padding-bottom: 8px;
               font-family: 'Spectral', serif;
               font-size: 21px;
               color: #121212;
          }

          .blog-post .right-content span {
               font-size: 13px;
               color: #7a7a7a;
               display: inline-block;
               margin-bottom: 18px;
          }

          .deed-card {
               background: yellowgreen;
               height: 50vh;
               margin: 5%;
               padding: 2%;
          }

          .deed-card-image {
               height: 100%;
               width: 30%;
               float: left;
               margin-right: 2%;
          }

          .deed-info {
               text-align: left;
               margin: 1%;
          }
     </style>
</head>

<body>

     <!-- PRE LOADER -->
     <!-- <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section> -->


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <div><a href="index.html" class="navbar-brand">
                              Gooddeed</a></div>

               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#home" class="smoothScroll">Home</a></li>
                         <li><a href="#about" class="smoothScroll">About</a></li>
                         <li><a href="#blog" class="smoothScroll">Gooddeeders</a></li>
                         <li><a href="#work" class="smoothScroll">Deeds</a></li>
                         <!-- <li><a href="#contact" class="smoothScroll">Contacts</a></li> -->
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <!-- <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                         <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li class="section-btn"><a href="#" class="post-deed-color" data-toggle="modal"
                                   data-target="#modal-form">Post Deed</a></li>
                         <!-- <li><a href=""><button class="btn btn-md">Post Deed</button></a></li> -->
                    </ul>
               </div>

          </div>
     </section>


     <!-- HOME -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="home-info">
                              <h3 class="quote-top">A simple act of kindness creates endless ripples.</h3>
                              <p class="sayer-top">-a gooddeeder</p>
                              <!-- <a href="#about" class="btn section-btn smoothScroll">Post Your Deed</a> -->

                              <a data-toggle="modal" data-target="#modal-form"> <button
                                        class="btn btn-lg post-deed-btn">Post Your Deed</button></a>
                              <!-- <span>
                                   CALL US (+66) 010-020-0340
                                   <small>For any inquiry</small>
                              </span> -->
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="home-video">
                              <div class="embed-responsive embed-responsive-16by9">
                                   <!-- <iframe src="https://www.youtube.com/embed/AqcjdkPMPJA" frameborder="0" allowfullscreen></iframe> -->
                                   <iframe width="560" height="315" src="https://www.youtube.com/embed/oYuQLxartcM"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-6">
                         <div class="about-info">
                              <div class="section-title">
                                   <h2>What we do?</h2>
                                   <span class="line-bar">
                                        <p class="underline-sec"></p>
                                   </span>
                              </div>
                              <p>We provide you a platform to share your good deeds with the world. Inspiring people to
                                   spread kindness is our aim. You do a good deed in Delhi and share, and through our
                                   platform someone in Banglore can get inspired and do the same.</p>
                              <p>Life is too short for regrets, be a part of our gooddeeder community now.</p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="about-info skill-thumb">

                              <strong>Help someone in crossing a road </strong>
                              <!-- <span class="pull-right">85%</span> -->
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Reach out to an old friend</strong>
                              <!-- <span class="pull-right">90%</span> -->
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Keep water for birds</strong>
                              <!-- <span class="pull-right">75%</span> -->
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Give alms to poor</strong>
                              <!-- <span class="pull-right">70%</span> -->
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="about-image">
                              <img src="images/about-image.jpg" class="img-responsive" alt="">
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- BLOG -->
     <section id="blog" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2 class="white-heading">Gooddeeders</h2>
                              <p class="underline-sec-center-heading"></p>
                              <!-- <span class="line-bar"><p class="underline-sec"></p></span> -->
                         </div>
                    </div>


                    <div class="row">
                         <div class="col-md-6">
                              <div class="deed-card">
                                   <img class="deed-card-image" src="static/images/blog-image1.jpg" alt="">
                              <h4>Helping hand to poor</h4>
                              <p class="deed-info"> <span>Gooddeeder: </span>Prashant</p>
                              <p class="deed-info"> <span>Location: </span>Kanpur</p>
                              <p class="deed-info"> <span>Deed: </span>Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.</p>
                              </div>
                         </div>
                         <div class="col-md-6">
                              <div class="deed-card">test</div>
                         </div>
                         <div class="col-md-6">
                              <div class="deed-card">test</div>
                         </div>
                         <div class="col-md-6">
                              <div class="deed-card">test</div>
                         </div>
                         <div class="col-md-6">
                              <div class="deed-card">test</div>
                         </div>
                         <div class="col-md-6">
                              <div class="deed-card">test</div>
                         </div>
                    </div>


                    <div class="row">
                         <div class="col-md-6">
                              <div class="blog-post">
                                   <img src="static/images/blog-image1.jpg" alt="">
                                   <div class="date">26 Oct 2020</div>
                                   <div class="right-content">
                                        <h4>Stumptown Tofu Schlitz</h4>
                                        <span>Branding / Admin</span>
                                        <p>Skateboard iceland twee tofu shaman crucifix vice before they sold out corn
                                             hole occupy drinking vinegar chambra meggings kale chips hexagon...</p>
                                        <div class="text-button">
                                             <a href="#">Continue Reading</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="col-md-6">
                              <div class="blog-post">
                                   <img src="static/images/blog-image1.jpg" alt="">
                                   <div class="date">21 Oct 2020</div>
                                   <div class="right-content">
                                        <h4>Succulents Hashtag Folk</h4>
                                        <span>Branding / Admin</span>
                                        <p>Skateboard iceland twee tofu shaman crucifix vice before they sold out corn
                                             hole occupy drinking vinegar chambra meggings kale chips hexagon...</p>
                                        <div class="text-button">
                                             <a href="#">Continue Reading</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- BLOG THUMB -->
                         <div class="media blog-thumb">
                              <div class="media-object media-left">
                                   <a href="blog-detail.html"><img src="static/images/blog-image1.jpg"
                                             class="img-responsive" alt=""></a>
                              </div>
                              <div class="media-body blog-info">
                                   <small><i class="fa fa-clock-o"></i> December 22, 2017</small>
                                   <h3><a href="blog-detail.html">How To Find Out Beautiful Workspace.</a></h3>
                                   <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                   <a href="blog-detail.html" class="btn section-btn">Read article</a>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- BLOG THUMB -->
                         <div class="media blog-thumb">
                              <div class="media-object media-left">
                                   <a href="blog-detail.html"><img src="static/images/blog-image2.jpg"
                                             class="img-responsive" alt=""></a>
                              </div>
                              <div class="media-body blog-info">
                                   <small><i class="fa fa-clock-o"></i> December 18, 2017</small>
                                   <h3><a href="blog-detail.html">woman sportwear.</a></h3>
                                   <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                   <a href="blog-detail.html" class="btn section-btn">Read more</a>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- BLOG THUMB -->
                         <div class="media blog-thumb">
                              <div class="media-object media-left">
                                   <a href="blog-detail.html"><img src="static/images/blog-image3.jpg"
                                             class="img-responsive" alt=""></a>
                              </div>
                              <div class="media-body blog-info">
                                   <small><i class="fa fa-clock-o"></i> December 16, 2017</small>
                                   <h3><a href="blog-detail.html">new creative fashion.</a></h3>
                                   <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                   <a href="blog-detail.html" class="btn section-btn">Read article</a>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- BLOG THUMB -->
                         <div class="media blog-thumb">
                              <div class="media-object media-left">
                                   <a href="blog-detail.html"><img src="static/images/blog-image4.jpg"
                                             class="img-responsive" alt=""></a>
                              </div>
                              <div class="media-body blog-info">
                                   <small><i class="fa fa-clock-o"></i> December 10, 2017</small>
                                   <h3><a href="blog-detail.html">minimalist design trend in 2018.</a></h3>
                                   <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                   <a href="blog-detail.html" class="btn section-btn">View Detail</a>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- WORK -->
     <section id="work" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Deeds</h2>
                              <p class="underline-sec-center-heading"></p>
                              <p>Finding a deed is not so difficult. Check out some good deeds below, try and share with
                                   the world.</p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="skill-thumb" style="text-align: left;">
                              <strong>Help someone in crossing a road </strong>
                              <div class=" progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Plant a tree </strong>
                              <div class=" progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Make someone laugh </strong>
                              <div class=" progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Pick up garbage and throw in dustbin </strong>
                              <div class=" progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>
                         </div>



                    </div>



                    <div class="col-md-3 col-sm-6">
                         <div class="skill-thumb" style="text-align: left;">
                              <strong>Keep water for birds</strong>
                              <!-- <span class="pull-right">75%</span> -->
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Give alms to poor</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Leave a generous tip</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Donate Clothes</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>


                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="skill-thumb" style="text-align: left;">
                              <strong>Feed a stray dog/animal</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Greet people with smile</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Send a note of appreciation</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                              <strong>Offer your seat in metro or bus</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="skill-thumb" style="text-align: left;">
                              <strong>Speak up for the community</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>
                              <strong>Help your mother/wife with dishes</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>
                              <strong>Give chocolate to a friend</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>
                              <strong>Use water/electricity responsibly</strong>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                              </div>

                         </div>
                    </div>

               </div>
          </div>
     </section>




     <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">



                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text">
                                        <p>Copyright &copy; 2020 Gooddeed</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact">
                                        <p>Call us <span>(+91) 6394774960</span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <!-- <li><a href="https://www.facebook.com/templatemo" class="fa fa-facebook-square"
                                                  attr="facebook icon"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li> -->
                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>


     <!-- MODAL -->
     <section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content modal-popup modal-post-deed">

                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>

                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">
                                   <img class="modal-logo" src="static/images/gd2.png" alt="">
                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2 class="modal-heading">Post your deed</h2>
                                        </div>


                                        <div class="tab-content" style="padding: 0px;">
                                             <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                                  <form action="/index" method="POST">
                                                       <input id='user-name' type="text" class="form-control"
                                                            name="name" placeholder="Name">
                                                       <p class="name-req"></p>

                                                       <div class="modal-upload-sec">
                                                            <label class="modal-label-upload-photo" for="img">Upload
                                                                 your photo</label>
                                                            <input class="modal-upload-photo" type="file" id="img-user"
                                                                 name="img-user" accept="image/*">
                                                            <p class="img-user-req"></p>

                                                       </div>

                                                       <!-- <input type="telephone" id='user-number' class="form-control"
                                                            name="telephone" placeholder="Contact"> -->
                                                       <input id='user-email' type="email" class="form-control"
                                                            name="email" placeholder="Email">
                                                       <p class="email-req"></p>

                                                       <!-- <input type="password" class="form-control" name="password"
                                                            placeholder="Password" required> -->


                                                       <textarea class="form-control" id="user-deed" rows="5"
                                                            placeholder="Enter your good deed"></textarea>
                                                       <p class="total-ch">Characters:<span
                                                                 class="character-number"></span></p>
                                                       <p class="user-deed-req"></p>


                                                       <div class="modal-upload-sec">
                                                            <label class="modal-label-upload-photo" for="img">Don't
                                                                 forget to upload a photo of
                                                                 your deed</label>
                                                            <input class="modal-upload-photo" type="file" id="img-deed"
                                                                 name="img" accept="image/*">

                                                            <p class="img-deed-req"></p>

                                                       </div>
                                                       <!-- <input type="submit" class="form-control" name="submit"
                                                            value="Post Deed"> -->
                                                       <button class="btn btn-dark btn-md post-modal-btn"
                                                            id='modal-post-btn'>Post Deed</button>
                                                  </form>
                                             </div>

                                             <!-- <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                                  <form action="#" method="post">
                                                       <input type="email" class="form-control" name="email"
                                                            placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password"
                                                            placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit"
                                                            value="Submit Button">
                                                       <a href="https://www.facebook.com/templatemo">Forgot your
                                                            password?</a>
                                                  </form>
                                             </div> -->
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='js/jquery.js') }} "></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }} "></script>
     <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }} "></script>
     <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
     <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

     <script>
          $(document).ready(function () {
               $("#user-name").keyup(function () {
                    $(".name-req").html("")
               })
               $("#user-email").keyup(function () {
                    $(".email-req").html("")
               })
               $("#user-deed").keyup(function () {
                    $('.character-number').html($('#user-deed').val().length).css({ 'font-size': '12px', 'color': 'forestgreen', 'margin': '0%', 'text-align': 'right', 'margin-left': '5px' })
                    if ($('#user-deed').val().length <= 288) {
                         $('.user-deed-req').html('Please enter your deed in less than 289 characters').css({ 'font-size': '12px', 'color': 'forestgreen', 'margin': '1%', 'text-align': 'justify' })
                         $('.total-ch').css({ 'color': 'forestgreen' })
                         $('.character-number').css({ 'color': 'forestgreen' })

                    }
                    else {
                         $('.user-deed-req').html('Limit exceeded - More than 288 characters').css({ 'font-size': '12px', 'color': 'red', 'margin': '1%', 'text-align': 'justify' })
                         $('.total-ch').css({ 'color': 'red' })
                         $('.character-number').css({ 'color': 'red' })
                    }
                    // $(".user-deed-req").html("")
               })
               $("#img-user").click(function () {
                    $(".img-user-req").html("")
               })
               $("#img-deed").click(function () {
                    $(".img-deed-req").html("")
               })

               $(document).on('click', '#modal-post-btn', function () {
                    console.log('clicked')
                    var name = $('#user-name').val()
                    var imgUser = $('#img-user')[0]
                    var email = $('#user-email').val()
                    var validatedEmail = validateEmail(email)
                    var userDeed = $('#user-deed').val()
                    var contact = $('#user-number').val()
                    var imgDeed = $('#img-deed')[0]
                    console.log(name, imgUser.files.length, email, contact, imgDeed.files.length)


                    if (!name.replace(/\s/g, '').length == false && imgUser.files.length != 0 && validatedEmail && !userDeed.replace(/\s/g, '').length == false && !contact.replace(/\s/g, '').length == false && imgDeed.files.length != 0 && userDeed.length <= 288) {
                         console.log('good to post')
                         postDeed()
                    }

                    else {
                         console.log('something missing')
                         if (userDeed.length > 288) {
                              $('.user-deed-req').html('Enter deed in less than 288 characters').css({ 'font-size': '12px', 'color': 'red', 'margin': '1%', 'text-align': 'justify' })
                         }
                         if (!name.replace(/\s/g, '').length) {
                              $('.name-req').html('Name cannot be empty').css({ 'font-size': '12px', 'color': 'red', 'margin': '1%', 'text-align': 'justify' })
                         }
                         if (!email.replace(/\s/g, '').length || validatedEmail == false) {
                              $('.email-req').html('Please enter a valid email').css({ 'font-size': '12px', 'color': 'red', 'margin': '1%', 'text-align': 'justify' })
                         }
                         if (!userDeed.replace(/\s/g, '').length) {
                              $('.user-deed-req').html('Please enter your deed').css({ 'font-size': '12px', 'color': 'red', 'margin': '1%', 'text-align': 'justify' })
                         }
                         if (imgUser.files.length == 0) {
                              $('.img-user-req').html('Please upload your image').css({ 'font-size': '12px', 'color': 'red', 'margin': '1%', 'text-align': 'justify' })
                         }
                         if (imgDeed.files.length == 0) {
                              $('.img-deed-req').html('Please upload image of your deed').css({ 'font-size': '12px', 'color': 'red', 'margin': '1%', 'text-align': 'justify' })
                         }

                    }



               })

               function validateEmail(t) {
                    var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
                    return testEmail.test(t)
               }
          })

     </script>

     <!-- <script>
          var a = [{classname:'A'},{classname:'B'},{classname:'C'},{classname:'A'},{classname:'B'},{classname:'C'},{classname:'A'},{classname:'B'},{classname:'C'},{classname:'A'},{classname:'B'},{classname:'C'}]

          var newObj = {}
          var newList = []

          for(let i=0; i<a.length; i++){
               console.log('test')
               var key = a[i].classname
               newList.push(key)
               console.log('list =', newList)

               if(newObj[key]){
                    newObj[key] += 1
                    console.log(newObj)
               }
               else{
                    newObj[key] = 1
                    console.log(newObj)

               }
          }
     </script> -->





</body>

</html>